*{
    margin: 0px;
    padding: 0px;
}

#img-main{
    opacity: 0.5;
    
}


/* #img-main:hover{
    opacity: 1;
} */


.button-center {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}

